@use "../base/variables" as *;

body {
	font-family: var(--ff-primary);
	background-color: var(--bg-body);
	padding: toRem(80) 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main {
	width: 100%;
	display: grid;
	place-items: center;
}

footer {
	margin-block-start: toRem(100);
}